html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-reservar-animado { 
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.2s ease, background-color 0.2s ease !important;/*cubir bezier agrega una aceleracion personalizada a la animacion*/
  }/*!important hace que el navegador priorice la animacion sobre tus estilos en línea fijos*/
  .btn-reservar-animado:hover {
    background-color: #166534 !important; /* Cambia a un verde más oscuro al pasar el cursor*/
    transform: translateY(-3px); /* Eleva el boton*/
    box-shadow: 0 8px 16px rgba(21, 128, 61, 0.5) !important; /* Hace la sombra verde más profunda */
  } 
  .btn-detalles-animado {
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.2s ease, background-color 0.2s ease !important;
  }
  /* Efecto al pasar el cursor (Hover) */
  .btn-detalles-animado:hover {
    background-color: #f8fafc !important; /* Cambia a un gris/azul ultra claro */
    transform: translateY(-3px); /* Se eleva 3 píxeles en sintonía con el botón verde */
    box-shadow: 0 6px 14px rgba(51, 65, 85, 0.15) !important; /* Sombra suave y elegante de tono grisáceo */
  }
  